@import './../../styles/variables';

.footer-copyright {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // background-color: $primary-main-600;
    padding: 1rem;

    .copyright-text{
        flex-grow: 4;
        text-align:left;
        
    }
    .text{
        text-align: left;
        // color:$text-primary-light;
    }
}

.footer{
    // background-color: $primary-main;
    // padding: 1rem 2rem 2rem 2rem;
}
